html,body {
	height: 100%;
}

.page {
	padding-left: 30px;
	padding-right: 30px;
}

.page-bg-color {
	background: #c4dbf6;
}

.picture-circle {
	border-radius: 50%;
	width: 4%;
	height: auto;
	float: left;
}

.margin-header {
	margin: 20px 0 0 0;
}

.align-right {
	text-align: right;
}

.hr-element {
	height:2px;
	border-width:0;
	color: #bfbfbf;
	background-color: #bfbfbf;
}

.nav-li {
	margin-left: 2em;
	font-size: 1.5vw;
	color: #b23850;
}
a:hover {
	color: #3b8beb;
}

a {
	color: #b23850;
}

.computer-img {
	/*border-radius: 50%;*/
	width: 120%;
	height: auto;
	/*float: left;*/
}

.main-content-index {
	margin-top: 8vw;
	color: #8590aa;
}

.main-content {
	margin-top: 5vw;
	color: #8590aa;
}

.main-text-header {
	font-size: 2.6vw;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #3b8beb;
}

.main-text {
	font-size: 1.8em;
	margin-top: 0.2em;
}


.main-h1 {
	font-size: 2.6vw;
	margin-bottom: 3vw;
	color: #3b8beb;
}

.about-p {
	font-size: 1.5vw;
	line-height: 2.5vw;
	margin-top: 0.2em;
}

.project-img {
	width: 80%;
	height: auto;
	margin-bottom: 2vw;
}

.projet-desc-h2 {
	font-size: 2vw;
	line-height: 2.2vw;
	margin-bottom: 2vw;
}

.project-p {
	font-size: 1.3vw;
	line-height: 1.5vw;
}

.project-li {
	font-size: 1.3vw;
}

.contact-main-content{
	margin-top: 5vw;
	color: #8590aa;
	margin-left: 3vw;
}

.contact-img {
	width: 100%;
	height: auto;
}

.contact-main-h1 {
	font-size: 2.6vw;
	margin-bottom: 2vw;
	color: #3b8beb;
}

.contact-text {
	font-size: 1.5vw;
	line-height: 2vw;;
}

.contact-name {
	margin-top: 3vw;
	font-size: 2.6vw;
	color: #595959;
}

.contact-desc {
	font-size: 1.3vw;
	line-height: 1.6vw;;
}

.contact-info-margin {
	margin-left: 5vw;
}

.button {
	text-decoration: none;
	background-color: #e7e3d4;
	color: #8590aa;
	padding: 3px 7px;
	border-top: 1px solid #8590aa;
	border-right: 1px solid #8590aa;
	border-bottom: 1px solid #8590aa;
	border-left: 1px solid #8590aa;
}


/*html,body,.container {
	height:100%;
	width: 100%;
}

.nav-style {
	background: #f4976c;
	padding: 3em;
	display: flex;
	flex-direction: column;
	/*justify-content: space-between;
	height: 100vh;
}

.nav-li-font {
	font-size: 2vw;
	line-height: 2em;
}

.content-style {
	background: #fbe8a6;
	padding: 10em 5em 5em 30em;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.nav-ul {
	list-style-type: none;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.img-picture {
    border-radius: 25%;
    width: 350px;
	height: 400px;
}
*/

/*
.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; 
    box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}


.nav-bg-color {
	background-color: #f4976c;
}

.nav-li-font {
	font-size: 3vw;
}

.content-bg-color {
	background-color: #fbe8a6; 
}
*/
/*.center {
	margin-top: auto;
}

.img-circle {
    border-radius: 25%;
    width: 350px;
    height: 400px;
    float: left;
}

.project-img {
	width: 400px;
	height: 200px;
}

.nav-bg-color {
	background-color: #f4976c;
}

.nav-li-font {
	font-size: 3vw;
}

.content-bg-color {
	background-color: #fbe8a6; 
}


*/


/*.margin-header {
	margin: 20px 0 0 0;
}



.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

hr {
	border: 1.5px solid #c2c2a3;
}

.main-img {
	width: 100%;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.margin-img {
	margin: 15px 0;
}

.work-img {
	width: 100%;
	height: auto; 
}

.img-caption {
	margin-top: 10px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

.header-uppercase {
	text-transform: uppercase;
}

.link-align {
	text-align: center;
}

*/