.img-circle {
    border-radius: 25%;
    width: 350px;
    height: 400px;
    float: left;
}

.project-img {
	width: 400px;
	height: 200px;
}

/*.margin-header {
	margin: 20px 0 0 0;
}



.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
}

hr {
	border: 1.5px solid #c2c2a3;
}

.main-img {
	width: 100%;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.margin-img {
	margin: 15px 0;
}

.work-img {
	width: 100%;
	height: auto; 
}

.img-caption {
	margin-top: 10px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

.header-uppercase {
	text-transform: uppercase;
}

.link-align {
	text-align: center;
}

*/