@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.navbar-bg-color {
	background: #b23850;
}

.page-bg-color {
	background: #c4dbf6;
}

.navbar {
	padding: 0.8rem;
}

.navbar-nav li {
	padding-right: 50px;
}

.padding {
	padding-top: 9rem;
	padding-bottom: 2rem;
}

.picture-circle {
	background-color: #fff;
	border-radius: 50%;
	width: 50px;
	height: auto;
	float: left;
}

.nav-li {
	text-decoration: none !important;
	font-size: 1.3em !important;
	color: #e7e3d4;
}

.computer-img {
	width: 90%;
	height: auto;
}

.index-h1-padding {
	padding-top: .1rem;
}

.index-h1 {
	color: #3b8beb;
	font-size: 3.5em;
	margin-bottom: 1.3rem;
}

.index-h3 {
	margin-top: 1rem;
	color: #5e6a87;
	margin-bottom: 1rem;
}

.flag-margin {
	margin-top: 1rem;
}

.swap-on-hover {
	position: relative;	
	margin:  0 auto;
	max-width: 8em;
}

.swap-on-hover img {
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
	/* Sets the width and height for the images*/
	width: 8em;
	height: 4em;
}

.swap-on-hover .swap-front-image {
	z-index: 9999;
	transition: opacity .5s linear;
	cursor: pointer;
}

.swap-on-hover:hover > .swap-front-image{
	opacity: 0;
}

/* hand wave animation from https://jarv.is/notes/css-waving-hand-emoji/*/
.wave {
	animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;        /* Change to speed up or slow down */
	animation-iteration-count: infinite;  /* Never stop waving :) */
	transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
	display: inline-block;
  }
  
@keyframes wave-animation {
	0% { transform: rotate( 0.0deg) }
	10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
	20% { transform: rotate(-8.0deg) }
	30% { transform: rotate(14.0deg) }
	40% { transform: rotate(-4.0deg) }
	50% { transform: rotate(10.0deg) }
	60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

/* About Me */

.about-h1 {
	color: #3b8beb;
	font-size: 3.5em;
	padding-bottom: 3rem;
}

.about-p {
	color: #5e6a87;
	font-size: 1.5em;
	line-height: 1.8em;
	margin-top: 0.2em;
}

/* Portfolio */

.portfolio-padding {
	padding-bottom: 3rem;
}

.portfolio-h1 {
	color: #3b8beb;
	font-size: 3.5em;
	padding-bottom: 3rem;
}

.project-img {
	width: 80%;
	height: auto;
	margin-bottom: 1.5rem;
}

.project-img:hover {
	transition: transform .5s ease;
	transform: scale(1.05);
}

.projet-desc-h2 {
	color: #495369;
	font-size: 2em;
	line-height: 2.1em;
	margin-bottom: 1.5rem;
}

.project-p {
	color: #5e6a87;
	font-size: 1.2em;
	line-height: 1.4em;
}

.project-li {
	color: #495369;
	font-size: 1.2em;
}

.button {
	cursor: pointer;
	position: relative;
	text-decoration: none;
	background-color: #e7e3d4;
	color: #8590aa;
	padding: 4px 8px;
	border: 1px solid #8590aa;
}

.button:hover {
	text-decoration: none;
	background-color: #c8bf9d;
	color: #8590aa;
	border: 2px solid #8590aa;
}


/* Contact */

.contact-img {
	width: 100%;
	height: auto;
}

.contact-text {
	font-size: 1.5em;
	line-height: 2em;
	color: #595959;
}

.contact-name {
	margin-top: 1rem;
	font-size: 2.6em;
	color: #595959;
}

.contact-desc {
	font-size: 1.3em;
	line-height: 1.6em;
	color: #595959;
}

.info-margin {
	margin-top: 3rem;
}


.icon-style {
	font-size: 2em;
	text-decoration: none;
	margin: 1.5rem;
	color: #595959;
	position: relative;
	top: 0;
	transition: top ease 0.5s;
}

.icon-style:hover {
	top: -10px;
	color: #b23850;
}


/*--- Media Queries ---*/
@media (max-width: 1300px) {
	.computer-img {
		width: 100%;
		height: auto;
	}

	.index-h1 {
		font-size: 2.5em;
		margin-bottom: 1.5rem;
	}

	.index-h3 {
		font-size: 1.4em;
		margin-bottom: .8rem;
	}

	.index-h1-padding {
		padding-top: .1rem;
	}

	/* About Me */
	.about-p {
		font-size: 2em;
		line-height: 1.8em;
		margin-top: 0.2em;
	}

}


@media (max-width: 992px) {
	.padding {
		padding-top: 6rem;
		padding-bottom: 2rem;
	}

	.index-h1 {
		font-size: 3.5em;
		margin-bottom: 1.5rem;
	}

	.index-h3 {
		font-size: 2em;
		margin-bottom: .8rem;
	}

	.index-h1-padding {
		padding-top: 4rem;
	}

}

@media (max-width: 768px) {
	.navbar-nav {
		padding-top: 1rem;
	}

	.index-h1 {
		font-size: 2.5em;
		margin-bottom: 1.5rem;
	}

	.index-h3 {
		font-size: 1.5em;
		margin-bottom: .8rem;
	}

	.index-h1-padding {
		padding-top: 5rem;
	}

	/* About Me */
	.about-p {
		font-size: 1.9em;
		line-height: 1.8em;
		margin-top: 0.2em;
	}
}

@media (max-width: 576px) {
	.navbar-nav {
		padding-top: 1rem;
	}

	.nav-li {
		font-size: 1em !important;
		color: #e7e3d4;
	}

	.index-h1 {
		font-size: 1.8em;
		margin-bottom: 1rem;
	}

	.index-h3 {
		font-size: 1.3em;
		margin-bottom: .2rem;
	}

	.index-h1-padding {
		padding-top: 5rem;
	}

	/* About Me */
	.about-h1 {
		font-size: 3.8em;
		color: #3b8beb;
	}
}
